<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628733342084-dop2r0q4ptjjrjmuttfpu2g2b6nqanar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628733342084-dop2r0q4ptjjrjmuttfpu2g2b6nqanar</string>
	<key>API_KEY</key>
	<string>AIzaSyBpUu6Sf1f-YLq810vDPfU-QBUQmLOOUMs</string>
	<key>GCM_SENDER_ID</key>
	<string>628733342084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eleks.cah</string>
	<key>PROJECT_ID</key>
	<string>ua-cah-new</string>
	<key>STORAGE_BUCKET</key>
	<string>ua-cah-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628733342084:ios:1c7eba8b2b9784b9ab6dd1</string>
	<key>DATABASE_URL</key>
	<string>https://ua-cah-new-default-rtdb.firebaseio.com</string>
</dict>
</plist>